{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}




    {{ tchats.0.user.name }} : {{ tchats.0.message }} <br>
    {{ tchats.1.user.name }} : {{ tchats.1.message }} <br>
    {{ tchats.2.user.name }} : {{ tchats.2.message }} <br>
    {{ tchats.3.user.name }} : {{ tchats.3.message }} <br>
    {{ tchats.4.user.name }} : {{ tchats.4.message }} <br>

  <!--  <form action="" method="POST">

        <div>
            <input type="text" name="message" id="message">

            <button type="submit">Envoyer</button>
        </div>

    </form>-->
{% endblock %}

