{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.11/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/connexion.css') }}">
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>
{% endblock %}

{% block body %}



    <div id="app">
        <v-app>
            <v-content pa-0 ma-0>

                <!-- TOP BLOC -->
                <v-row no-gutters> <!-- RETOUR ACCUEIL -->
                    <v-col cols="1">
                        <v-row no-gutters align="center" justify="center" class="btn-retour-accueil">
                            <img height="15px" src="{{ asset('images/fleche.svg') }}" alt="Pictogramme flèche, pour revenir à l'accueil">
                            <a href="{{ path('app_lobby') }}" class="accueil-lien">Accueil</a>
                        </v-row>
                    </v-col>
                </v-row>
                <!-- /TOP BLOC -->

                <v-row no-gutters justify="center">
                    <v-col cols="6">
                        <p class="connexion-stl">Il n'y a pas assez de joueurs pour lancer la partie !</p>
                        <p class="connexion-sous-stl"><a href="{{ path('affiche_code_partie', { 'partie': partie }) }}">Retour en salle d'attente</a></p>
                    </v-col>
                </v-row>



            </v-content>
        </v-app>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.11/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
        })
    </script>

{% endblock %}
